@model CodingTest.Models.Product
@{
	var product = Model;
	ViewBag.Title = "Detail";
	Layout = "~/Views/Shared/_Store.cshtml";
}
@section css {
<link href="~/ui/productdetail.css" rel="stylesheet"/>
}

<div class="container">

    <div class="page-header">
        <img class="img-thumbnail" src="http://darulk.com/images/bg_test.png">        
        <h2>Test Online Store</h2>
    </div>
    
    <div class="col-md-4">
        <div class="title">Shopping Cart</div>
        <div class="horizontal_dotted_line"></div>
        <div class="category">Category</div>
    </div>

    <div class="col-md-8">
            <div class="product-name">@Html.DisplayFor(model => model.Name)</div>

            <div class="row">
                <div class="col-md-6">
                    
                    <img class="img-thumbnail" src="~/Content/Images/spoon.jpg" />
                </div>
                <div class="col-md-6">
                    <table class="table">
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Name)
                            </td>                            
                        </tr>
                        <tr>                            
                            <td>
                                @Html.DisplayNameFor(model => model.Cost)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Cost)
                            </td>                            
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.Description)
                            </td>                            
                            <td>
                                @Html.DisplayFor(model => model.Description)
                            </td>                            
                        </tr>
                    </table>
                    <div class="form-group">
                        <label for="inputType" class="col-sm-2 control-label">Qty:</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="input" placeholder="1">
                        </div>

                        <button type="button" class="btn btn-success">Add to Cart</button>
                    </div>
                    </div>
            </div>



        </div>

    
    <p><button type="button" id="addrow" class="btn btn-lg btn-default">Add Rows</button></p>

    
    <div class="table-responsive">
        <table class="table table-striped" id="myTable">
            <tr>
                <th>Row Number</th>
                <th>Created Date</th>
            </tr>
        </table>
    </div>

        @section script {>
            <script src="~/ui/productdetail.js"></script>
        }

    </div>